<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			height: 100%;
			font-family: Arial, sans-serif;
		}
	</style>
</head>

<body>
	<div class="login-container">
		<div class="left-login-container">
		</div>
		<div class="right-login-container">
			<div class="right-login-logo">
				<img src="/images/logo.jpg" alt="logo">
				<div class="login-title">공주대학교 수강신청</div>
			</div>
			<div class="login-blank1"></div>
			<form th:action="@{/login}" method="post">
				<div class="login-id">
					<label>StudentID: </label>
					<input type="text" name="userid" />
				</div>
				<br>
				<div class="login-pw">
					<label>Password: </label>
					<input type="password" name="userpw" />
				</div>
				<br>
				<div class="login-button">
					<button type="submit">Login</button>
				</div>
			</form>
			<div class="login-blank2"></div>
			<div class="notice">NOTICE</div>
			<div class="login-notice-line"></div>
			<ul class="notice-list" style="list-style-type:disc">
				<li><a href="https://www.kongju.ac.kr/bbs/kongju/1521/298997/artclView.do">2024년 2학기 수강신청 일정 등
						안내</a></li>
				<li><a
						href="https://www.kongju.ac.kr/KNU/16909/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGS05VJTJGMjEzMiUyRjM2ODYzOCUyRmFydGNsVmlldy5kbyUzRnBhZ2UlM0QxJTI2c3JjaENvbHVtbiUzRHNqJTI2c3JjaFdyZCUzRCVFQyU4OCU5OCVFQSVCMCU5NSUyNmJic0NsU2VxJTNEJTI2YmJzT3BlbldyZFNlcSUzRCUyNnJnc0JnbmRlU3RyJTNEJTI2cmdzRW5kZGVTdHIlM0QlMjZpc1ZpZXdNaW5lJTNEZmFsc2UlMjZwYXNzd29yZCUzRCUyNg%3D%3D">2학기
						1차 폐강 교과목 알림 및 폐강 과목 수강신청 대상자 수강신청 안내</a></li>

				<li><a
						href="https://www.kongju.ac.kr/KNU/16909/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGS05VJTJGMjEzMiUyRjM2ODYzNSUyRmFydGNsVmlldy5kbyUzRnBhZ2UlM0QyJTI2c3JjaENvbHVtbiUzRHNqJTI2c3JjaFdyZCUzRCVFQyU4OCU5OCVFQSVCMCU5NSUyNmJic0NsU2VxJTNEJTI2YmJzT3BlbldyZFNlcSUzRCUyNnJnc0JnbmRlU3RyJTNEJTI2cmdzRW5kZGVTdHIlM0QlMjZpc1ZpZXdNaW5lJTNEZmFsc2UlMjZwYXNzd29yZCUzRCUyNg%3D%3D">2학기
						학부생 수강신청 최종변경 및 수강포기 안내</a></li>

			</ul>
		</div>
	</div>

</body>

</html>